* {
    font-family: Lato;
}

:root {
    --primary-color: #52796f;
    --secondary-color: #2f3e46;
    --background-color: #cad2c5;
    --accent1-color: #354f52;
    --accent2-color: #333;
}   

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.5rem;
    color: var(--accent2-color);
}

.hamburger {
    background: none;
    border: none;
    color: var(--accent2-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    border-top: solid 1px #eee;
    font-weight: 600;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--accent2-color);
    text-decoration: none;
    border-bottom: solid 1px var(--accent2-color);
}

.navigation li.current {
    background-color: var(--background-color);
}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
}