/*  Color Scheme
Charcoal Blue #264653
Verdigris (blue-green) #2a9d8f
Burnt Peach #e76f51
*/

* {
    font-family: Lato;
}
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;    
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.5rem;
    color: #264653;
}

.hamburger {
    background: none;
    border: none;
    color: #264653;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    border-top: solid 1px #ddd;
    font-weight: 600;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #264653;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #e76f51;
    color: white;
    font-weight: 600;
}

h1 {
    margin-left: 10px;
    color: #264653;
    margin-bottom: 0;
    margin-top: 10px;
}

section {
    display: block;    
    background-color: #eee;
    margin-top: 20px;
}

section h2 {
    display: block;
    background-color: #2a9d8f;
    color: white;
    padding: 5px;
    text-align: center; 
    width: auto;        
}

section img {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 6px;    
}

section p {
    padding: .8rem 10px;
    color: #264653;
}

.web-cert {
    background-color: white;
}

.types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    column-gap: 10px;
}

.types button {
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #e76f51;
    color: white;
    border: solid 1px #ddd;
    border-radius: 6px; 
    padding: 10px; 
}

.display {
    display: block;
}

.display div {
    border: solid 1px #ddd;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

div.course.completed {
    background-color: #f4a261;
}

div.course.incomplete {
    background-color: #e76f51;
}

#credits {
    text-align: center;
    margin-top: 0;
    grid-column: 1/3;
    color: #264653;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
    color: #264653;
    font-weight: 600;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #acabab solid 2px;
    border-radius: 6px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 28px;
    height: 28px;
}

.social a:hover {
    background-color: #ddd;
}