@media only screen and (min-width: 38rem) {

header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}

.hamburger {
    display: none;
}

.navigation {
    display: block;
    border-bottom: solid 1px #eee;
}

.navigation ul {
    display: flex;
}

.navigation a {
    border: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

main h1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

.web-cert {
    grid-column: 1/3;
}

section h2 {
    margin-top: 0;
}

main section .display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    margin-top: 10px;
    column-gap: 10px;
}
}
