* {
    font-family: Lato;
}

:root {
    --primary-color: #333D29;
    --secondary-color: #FFF;
    --background-color: #DBD6C8;
    --accent1-color: #B6AD90;
    --accent2-color: #545D3F;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 15px 0 10px;
    align-items: end;
    column-gap: 8px;
    border-top: solid 2px var(--primary-color);
}

header span {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-family: sacramento;
    font-weight: 600;
    text-align: center;
}

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    border-top: solid 2px var(--primary-color);
    font-weight: 600;
    border-bottom: solid 2px var(--primary-color);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--primary-color);
}

.navigation li.current {
    background-color: var(--accent1-color);
}

.navigation a:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-weight: 600;
}

h1 {
    margin-left: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.menu button {
    padding: .7rem 2rem;
    border: .5px solid var(--accent1-color);
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;

}

.menu button:hover {
    background-color: var(--background-color);
    color: var(--accent2-color);
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

main {
    color: var(--primary-color);
}

.welcome {
    display: block;
}

.welcome p {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.app {
    display: block;
    max-width: 900px;
    padding: 1rem;
}

.app p, .app img {
    margin: 0 auto;
}

.our-values {
    margin-left: 1rem;
    display: block;
    text-align: center;
}

.values div {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    max-width: 270px;
    border-radius: 6px;
    margin: 0 auto; 
    cursor: pointer;    
}

.our-values h3 {
    padding: 10px;
}

#value-details {
    color: var(--primary-color);
    border: none;
    border-radius: 6px;
    max-width: 80%;
}

#value-details h2 {    
    border-bottom: solid 1px var(--primary-color);
}

#value-details button {
    padding: 5px;
}

/* The Basics Page */

.basics {
    margin: 1rem;
    text-align: left;
    max-width: 900px;
}

.basics p,
.basics li {
    padding: .5rem 0;
}

.questions {
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
}

.question-form label {
    display: block;
    padding: 1.5rem 0 0;
}

.question-form div {
    padding-top: 1.5rem;
    font-weight: 500;    
}

.question-form input[type="text"],
.question-form input[type="email"],
.question-form input[type="tel"],
.question-form #comment {
    display: block;
    border: solid 1px var(--accent2-color);
    border-radius: 5px;
    padding: .75rem;
    width: 92%;
    max-width: 400px;
    background-color: var(--background-color);
}

.question-form input[type="checkbox"] {
    margin-right: 6px;
    width: 20px;
    height: 20px;    
}

.question-form #comment {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.question-form input[type="submit"] {
    padding: .7rem;
    width: 90%;
    max-width: 300px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);    
    font-size: x-large;
    font-weight: 600;
    border: none;
    border-radius: 5px;    
    box-shadow: 1px 1px 4px var(--accent2-color);
}

.questions img {
    display: none;
}

#submission {
    font-weight: 700;
    font-size: large;
    padding-bottom: 1rem;
}

#form-results {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

.search {
    display: block;
    width: 90%;
    margin: 0 auto;    
    text-align: center;
    padding: 1rem 0;
    border-top: solid 1px var(--primary-color);
}

#searchInput {
    padding: 1rem;
    width: 220px;
    border-radius: 6px;
    border: solid 1px var(--primary-color);
}

#searchButton,
#clearButton {
    padding: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    margin: .5rem;
    border: none;
    border-radius: 6px;
}

#results {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 1rem;
}

/* Getting Started Page */

.recipes {
    margin: 1rem;
}

.recipes h2 {
    text-align: center;
}

.types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    list-style: none;    
    gap: .5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.all-button {
    background-image: url("../images/pizza.webp");
}

.main-button {
    background-image: url("../images/white-chicken-chili.webp");
}

.dessert-button {
    background-image: url("../images/applesauce-cake.webp");
}

.bread-button {
    background-image: url("../images/wheat-bread.webp");
}

.snack-button {
    background-image: url("../images/granola.webp");
}

.types button {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 6px;
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
}

.display {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 1rem;
}

.recipe-card {
    background-color: var(--background-color);
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 2px 6px var(--primary-color);
}

.recipe-card h3 {
    margin-top: 0;
}

footer {
    display: block;
    background-color: var(--primary-color);    
    align-items: center;
    color: var(--secondary-color);
    font-weight: 600;
    max-width: 1200px;
}

footer .contact {
    padding: 1.5rem;
}

footer .personal {
    padding: 1.5rem;
}

footer p {
    margin: 3px;
    margin-left: 0;
}

.social {
    display: flex;
    column-gap: 8px;
    justify-content: left;
    margin-left: 1.5rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #B6AD90 solid 2px;
    border-radius: 6px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 28px;
    height: 28px;
}

.social a:hover {
    background-color: #000;
}

#references {
    color: var(--secondary-color);
    text-decoration: none;
}