@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: auto;
    }
    
    header span {
        font-size: 2.5rem;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: block;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }

    .values {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }


    .app {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 900px;
        margin: 0 auto;
    }

    .app h2 {
        grid-row: 1/2;
        text-align: center;
        align-content: center;
    }

    .app p {
        grid-row: 2/3;
        text-align: left;
    }

    .app img {
        grid-column: 2/3;
        grid-row: 1/3;

    }

    .questions {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .questions h2 {
        grid-column: 1/3;
    }

    .questions img {
        border-radius: 6px;
        margin: 1rem;
        display: block;
    }

    .types button {
        font-size: 1.5rem;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    footer .personal {
        text-align: right;
    }

    .social {
        justify-content: center;
    }
}