@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: auto;
    }
    
    header span {
        font-size: 2.5rem;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: block;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

}