@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: auto;
    }
    
    header span {
        font-size: 2.5rem;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: block;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }

    .app {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 900px;
        margin: 0 auto;
    }

    .app h2 {
        grid-row: 1/2;
        text-align: center;
        align-content: center;
    }

    .app p {
        grid-row: 2/3;
        text-align: left;
    }

    .app img {
        grid-column: 2/3;
        grid-row: 1/3;

    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    footer .personal {
        text-align: right;
    }

    .social {
        justify-content: center;
    }
}